.navbar{
    background-color: rgb( 51, 227, 54 );
    
}

.navbar-brand{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.navbar-brand:hover{
    color: white;
}

#add,.save{
    padding: 5px 25px;   
    background-color: red;
    color: white;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.link-as-button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
} 
.link-as-button:hover,#add:hover,{
    text-decoration: none;
    color:white;
}

.save:hover{
    background-color: red;
}

body{
    background-color: rgb( 35, 186, 216 );
}

.card{
    width: 70rem;
    margin: auto;
    background-color: rgb( 254, 143, 24 );
    color: white;

}

.task-title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.task-text{
    font-family: 'Poppins', sans-serif; 
    font-size: 23px;
}

.edit_form{
    margin: auto;
    width: 50%;
}

.card-text{
    white-space: pre-wrap; 
    /* prewrap set for line and tab breaks in card */
}