{% extends 'todo/base.html' %}
{% block content %}
    <div class="py-5">
        {% for task in queryset %}
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        
                        
                        <div class="row">
                            <div class="col-10">
                                <h3 class="task-title">{{ task.title }}</h3>
                            </div>
                            <div class="col">
                                <a href=" {% url 'delete' task.id %} " class="link-as-button">DELETE</a>
                                <a href=" {% url 'edit' task.id %} " class="link-as-button">EDIT</a>    
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <h6>{{ task.date|date:"D, d M Y" }}</h6>
                        {% if task.image %}
                            <img src={{ task.image.url }}>
                        {% endif %}
                        
                        <h6 class="task-text">{{ task.text|linebreaksbr }}<h6>
                    </div>                
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}